/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding-bottom: 96px;
}

.header__links-list {
    display: flex;
    gap: 31.48px;
    padding-top: 133px;
    padding-left: 50px;
}

.header__links-list-item {
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    list-style: none;
}

.header__logo {
    width: 148px;
    height: 105px;
    margin-top: 92px;
    margin-left: 36.52px;
}

.header__logo-image {
    width: 129.11px;
    height: 104.65px;
    margin-top: 1.16px;
    padding-left: 9.03px;
}

.header__address {
    padding-top: 95px;
    padding-left: 184px;
    list-style: none;
}

.address {
    font-size: 18px;
    line-height: 24.3px;
    font-weight: 400;
    list-style: none;    
}

.cover {
    background-image: url("/images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1100px 767px;
}

.overlay {
    position: relative;
    z-index: 0;
}

.cover__title {
    font-size: 100px;
    line-height: 1.15;
    font-weight: 700;
    color: #fff;
    padding: 165px 50px 0;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.description {
    position: relative;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 106px 50px 50px;
    z-index: 1;
}

.cover__description-text {
    word-spacing:28px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;

}

.bet-button {
    background: transparent;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    width: 256px;
    height: 51px;
}

.lots {
    padding-left: 24px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    color: #fff;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.lots__heading {
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    padding: 180px 40px 27px 0;
}

.card_type_film {
    background-image: url('/images/card-lot-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_book {
    background-image: url('/images/card-lot-02.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_picture {
    background-image: url('/images/card-lot-03.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-link {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight:700;
    line-height: 120%;
    height: 100%;
    padding: 48px 40px 0;
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    padding: 40px 40px;
}

.lots__look-more-link {
    display: block;
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    padding-left: 40px;
    padding-top: 30px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding-top: 120px;
    padding-left: 24px;
}

.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 240px;
    width: 240px;
    height: 240px;
    margin: 35px 47px 0;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    padding-top: 133px;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.text-start {
    padding: 103px 5px 24px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding-top: 180px;
}

.footer__address {
    padding-left: 50px;
    list-style: none;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    margin-left: auto;
    margin-right: auto;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    padding-right: 50px;
}

.footer__social-list-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    list-style: none;
}

.footer__social-link {
    display: block;
    width: 48px;
}

.footer__social-icon {
    width: 100%
}